/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-tile-bonus {
	display: block;
	position: relative;
	min-height: 100%;
	padding: 14px;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.11);
	background: rgba(255, 255, 255, 0.10);
	font-size: 14px;
	line-height: 1.2;
	font-weight: 500;
	color: var(--clr-border);
	&:hover {
		color: var(--clr-border);
		background: rgba(255, 255, 255, 0.20);
	}
	.tile-title {
		font-size: 18px;
		line-height: 1.2;
		font-weight: 500;
		color: #fff;
		margin: 0 -10px 5px 0;
	}
	.tile-total {
		display: inline;
		font-size: 50px;
		font-weight: bold;
		letter-spacing: -0.5px;
		margin-right: 4px;
	}
}
.item-tile-cnt {
	display: block;
	position: relative;
	color: var(--clr-title);
	font-weight: 500;
	.tile-title {
		font-size: 14px;
		line-height: 1.4;
		color: var(--clr-bg-dark);
		font-weight: 400;
		margin: 0 0 10px 0;
	}
	.tile-info {
		display: flex;
		align-items: center;
	}
	.tile-ico {
		width: 24px;height: 24px;
		flex-shrink: 0;
	}
	.tile-info-title {
		flex: 1;
		padding-left: 12px;
	}
	a {
		&:not(:hover) {
			color: inherit;
		}
	}
}
.item-tile-info {
	border-radius: 30px;
	padding: 15px;
	background: var(--clr-bg-light);
	font-size: 16px;
	line-height: 1.4;
	font-weight: 500;
	min-height: 100%;
	&.tile-pay {
		.tile-title-wrap {
			&:before {
				opacity: 0.6;
				background-color: #BE43FF;
			}
		}
	}
	.tile-info-wrap {
		padding-top: 20px;
	}
	.tile-title-wrap {
		display: flex;
		align-items: flex-end;
		padding: 25px 150px 25px 25px;
		border-radius: 20px;
		height: 140px;
		position: relative;
		overflow: hidden;
		background: var(--clr-title);
		&:before {
			content: "";
			display: block;
			width: 353px;height: 353px;
			border-radius: 50%;
			background: #5144DB;
			filter: blur(89.63612365722656px);
			position: absolute;
			top: 0;left: 100%;
			margin-left: -40px;
		}
	}
	.tile-title {
		display: block;
		width: 100%;
		font-size: 26px;
		font-weight: 500;
		color: #fff;
		margin: 0;
		letter-spacing: -0.01em;
		line-height: 1;
		z-index: 3;
	}
	.tile-photo {
		width: 116px;
		aspect-ratio: inherit;
		position: absolute;
		top: 50%;right: 0;
		transform: translateY(-50%);
		z-index: 2;
	}
	p {
		margin-bottom: 1em;
	}
}
.item-tile-cart {
	display: block;
	position: relative;
	min-height: 93px;
	padding: 0 0 0 113px;
	color: var(--clr-title);
	.tile-photo-wrap {
		width: 93px;
		position: absolute;
		top: 0;left: 0;
	}
	.tile-actions-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.tile-counter-wrap {
		flex-shrink: 0;
		width: 112px;
	}
	.tile-buttons-wrap {
		display: flex;
		flex-shrink: 0;
	}
	.tile-photo {
		border: 1px solid var(--clr-border);
		border-radius: 12px;
		aspect-ratio: 1;
	}
	.tile-info-wrap {
		margin-bottom: 12px;
	}
	.tile-title-wrap {
		margin-bottom: 5px;
	}
	.tile-price-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		margin-bottom: 5px;
	}
	.tile-price {
		flex-shrink: 0;
		font-size: 18px;
		line-height: 1.2;
		font-weight: bold;
		letter-spacing: -0.01em;
		margin: 0 8px 0 0;
	}
	.price-old {
		font-size: 14px;
		font-weight: 500;
		letter-spacing: normal;
	}
	.tile-title {
		display: block;
		font-size: 16px;
		line-height: 1.4;
		font-weight: 500;
		a {
			color: inherit;
			display: block;
			&:hover {
				color: var(--clr-att);
			}
		}
	}
	.btn-action-ico {
		flex-shrink: 0;
		width: 32px;height: 32px;
		margin: 0 15px 0 0;
		&:last-child {
			margin-right: 0;
		}
		.button-title {
			display: none;
		}
	}
}
.item-tile-order {
	display: block;
	position: relative;
	overflow: hidden;
	font-size: 16px;
	line-height: 1.4;
	color: var(--clr-title);
	border-radius: 15px;
	border: 1px solid var(--clr-border);
	.tile-content-wrap {
		padding: 14px 14px 0 14px;
	}
	.tile-inner-item {
		margin-bottom: 20px;
		display: flex;
		align-items: flex-start;
		position: relative;
		overflow: hidden;
	}
	.tile-photo-wrap {
		width: 70px;
		flex-shrink: 0;
	}
	.tile-inner-wrap {
		flex: 1;
		padding-left: 30px;
	}
	.tile-title-wrap {
		display: flex;
		align-items: center;
		background: var(--clr-bg-light);
		padding: 19px;
		font-weight: 500;
	}
	.tile-order-action {
		flex-shrink: 0;
		.btn {
			width: 24px;height: 24px;
			padding: 0;
			margin: 0;
			min-width: 0;
			&:not(:hover) {
				opacity: 0.4;
			}
			.button-title {
				display: none;
			}
			.button-ico {
				width: 24px;height: 24px;
				flex-shrink: 0;
				margin: 0;
			}
		}
	}
	.tile-order-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex: 1;
	}
	.tile-footer-wrap {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		padding: 0 4px 14px 14px;
	}
	.tile-footer-info {
		margin-bottom: 10px;
		width: 100%;
		flex-shrink: 0;
		padding-right: 10px;
	}
	.tile-footer-title {
		color: var(--clr-bg-dark);
		font-size: 1em;
		font-weight: 400;
		line-height: inherit;
		margin: 0;
	}
	.tile-order-title, .tile-order-status {
		display: block;
		flex-shrink: 0;
		margin: 0 30px 0 0;
	}
	.tile-info-wrap {
		margin-bottom: 10px;
	}
	.tile-price-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.tile-price {
		font-size: 18px;
		font-weight: bold;
		line-height: 1.2;
		letter-spacing: -0.01em;
		color: var(--clr-title);
		margin: 0 10px 0 0;
		&.price-old {
			font-weight: 500;
			font-size: 14px;
			color: var(--clr-bg-dark);
		}
	}
	.tile-photo {
		border-radius: 12px;
		aspect-ratio: 1;
		border: 1px solid var(--clr-border);
	}
	.tile-title {
		font-size: 14px;
		line-height: 1.4;
		font-weight: 500;
		margin: 0 0 0 0;
		position: relative;
		overflow: hidden;
		&.tile-many-lines {
			-webkit-line-clamp: 2;
		}
	}
	.tile-count {
		display: block;
		font-size: 16px;
		line-height: 1.4;
		font-weight: 500;
		color: var(--clr-bg-dark);
	}
}
.item-tile-catalog-accesoories {
	display: flex;
	position: relative;
	border-radius: 15px;
	background: var(--clr-bg-light);
	padding: 10px;
	font-size: 14px;
	line-height: 1.4;
	color: var(--clr-title);
	overflow: hidden;
	&:hover {
		color: var(--clr-att);
	}
	.tile-photo-wrap {
		flex-shrink: 0;
		width: 68px;
	}
	.tile-info-wrap {
		padding-right: 40px;
		padding-left: 10px;
	}
	.tile-price-wrap {
		min-height: 30px;
	}
	.tile-title {
		margin: 0 -40px 5px 0;
		height: 2.8em;
		overflow: hidden;
		&.tile-many-lines {
			-webkit-line-clamp: 3;
		}
	}
	.tile-price {
		display: block;
		font-size: 16px;
		line-height: 1.2;
		font-weight: bold;
		color: var(--clr-title);
		letter-spacing: -0.01em;
		&.price-old {
			font-size: 12px;
			line-height: 1.2;
			font-weight: 500;
			color: var(--clr-bg-dark);
			letter-spacing: normal;
		}
	}
	.tile-button {
		width: 30px;height: 30px;
		border-radius: 10px;
		position: absolute;
		bottom: 10px;right: 10px;
		z-index: 7;
	}
	.tile-photo {
		aspect-ratio: 68/75;
		border-radius: 10px;
		background: #fff;
	}
}
.item-tile-price {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height: 100%;
	min-height: 90px;
	text-align: center;
	padding: 19px 9px;
	border-radius: 20px;
	border: 2px solid var(--clr-border);
	background: #fff;
	transition: all ease 0.2s;
	font-size: 10px;
	line-height: 1;
	font-weight: 500;
	color: var(--clr-base);
	&:hover, &.active {
		border-color: var(--clr-att);
		color: var(--clr-base);
	}
	.tile-price {
		font-size: 14px;
		line-height: 1;
		letter-spacing: -0.01em;
		font-weight: 500;
		color: var(--clr-title);
		margin-bottom: 5px;
	}
}
.item-tile-plus {
	display: flex;
	position: relative;
	min-height: 100%;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 500;
	background: var(--clr-base);
	border-radius: 30px;
	color: var(--clr-bg-dark);
	align-items: flex-start;
	padding: 15px;
	.tile-ico {
		width: 50px;height: 50px;
		border-radius: 10px;
		background: var(--clr-att);
		flex-shrink: 0;
	}
	.tile-info-wrap {
		flex: 1;
		padding-left: 15px;
	}
	.tile-title {
		display: block;
		font-size: 18px;
		line-height: 1.2;
		color: #fff;
		margin: 0 0 10px 0;
		font-weight: 500;
	}
}
.item-tile-action-line {
	border-radius: 30px;
	position: relative;
	overflow: hidden;
	display: block;
	background: var(--clr-title);
	color: #fff;
	font-size: 32px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: -0.01em;
	padding: 20px;
	&:hover {
		color: #fff;
	}
	.tile-title {
		font-size: 1em;
		font-weight: inherit;
		line-height: inherit;
		letter-spacing: inherit;
		color: inherit;
		margin: 0;
		position: relative;
		z-index: 4;
		padding-right: 80px;
	}
	.tile-discount {
		display: block;
		font-size: 165px;
		letter-spacing: -11.55px;
		font-weight: bold;
		color: var(--clr-att);
		transform: rotate(-8.82deg);
		position: relative;
		z-index: 2;
		margin-top: -20px;
		margin-left: -55px;
		margin-bottom: -10px;
	}
	.tile-photo {
		position: absolute;
		bottom: 0;right: -40px;
		width: 280px;
		z-index: 3;
	}
}
.item-tile-action-text {
	display: block;
	position: relative;
	overflow: hidden;
	height: 100%;
	min-height: 326px;
	border-radius: 12px;
	background: var(--clr-att);
	&.tile-side {
		border-radius: 22px;
		.tile-title-wrap {
			padding-top: 22px;
			display: flex;
		}
		.tile-title {
			font-size: 23px;
			margin-bottom: 0;
			flex: 1;
			padding-right: 10px;
		}
	}
	.tile-photo {
		position: absolute;
		bottom: 0;left: 50%;
		transform: translateX(-50%);
		min-width: 100%;
		width: 240px;
	}
	.tile-title-wrap {
		display: block;
		position: relative;
		z-index: 3;
		flex-wrap: wrap;
		align-items: center;
		padding: 15px;
		color: #fff;
		font-size: 20px;
		font-weight: 500;
		line-height: 1;
		letter-spacing: -0.01em;
	}
	.tile-subtitle {
		display: block;
		width: 100%;
		flex-shrink: 0;
		font-size: 9px;
		line-height: 1.3;
		font-weight: bold;
		color: var(--clr-border);
		text-transform: uppercase;
		margin: 0;
	}
	.tile-title {
		margin: 0 0 10px 0;
	}
	.tile-sticker {
		flex-shrink: 0;
		height: 38px;
		border-radius: 8px;
		padding: 0 6px;
		line-height: 38px;
		background: #fff;
		font-size: 24px;
		font-weight: 500;
		color: var(--clr-att);
	}
	.tile-action {
		display: block;
		position: absolute;
		bottom: 0;left: 0;right: 0;
		z-index: 3;
		padding: 22px 15px;
		font-size: 9px;
		line-height: 12px;
		color: #fff;
		text-transform: uppercase;
		&:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			margin: -2px 0 0 5px;
			width: 14px;height: 14px;
			background: url(../img/icons/arrow-more.svg) center / 13px auto no-repeat;
		}
	}
}
.item-tile-plus-main {
	border-radius: 20px;
	display: flex;
	align-items: center;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
	color: var(--clr-title);
	background: var(--clr-bg-light);
	.tile-ico {
		width: 50px;height: 50px;
		flex-shrink: 0;
	}
	.tile-title {
		display: block;
		padding-left: 10px;
		flex: 1;
	}
}
.item-tile-action-top {
	border-radius: 22px;
	line-height: 0;
	display: block;
	position: relative;
	overflow: hidden;
	&.tile-photo {
		aspect-ratio: 729/978;
	}
	&:hover {
		img {
			transform: scale(1.03);
		}
	}
}
.item-tile-video-main {
	display: block;
	position: relative;
	overflow: hidden;
	line-height: 1;
	overflow: hidden;
	color: #fff;
	&:hover {
		color: #fff;
	}
	.tile-title-wrap {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 20px 10px;
	}
	.tile-title, .tile-info {
		display: block;
		position: relative;
		max-width: 100%;
		color: inherit;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 600;
		letter-spacing: -0.01em;
		margin: 0;
	}
	.tile-info {
		font-size: 14px;
		line-height: 1.4;
		letter-spacing: normal;
	}
	.tile-photo {
		aspect-ratio: 165/305;
		border-radius: 20px;
	}
}
.item-tile-catalog {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	border-radius: 16px;
	padding: 7px;
	min-height: 100%;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 400;
	letter-spacing: normal;
	border: 1px solid var(--clr-bg-light);
	color: var(--clr-title);
	background: #fff;
	&.tile-no-border {
		border-color: var(--clr-border);
		&:not(:hover) {
			border-color: #fff;
		}
	}
	.tile-features-wrap {
		margin-top: 50px;
		font-size: 16px;
		line-height: 1.4;
		color: var(--clr-title);
		&:last-child {
			margin-bottom: 0;
		}
	}
	.tile-features-title {
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 20px;
	}
	.tile-feature-wrap {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.tile-feature-value {
		display: block;
		position: relative;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.tile-feature-title {
		color: var(--clr-bg-dark);
		display: block;
		position: relative;
		&:has(.tile-helper) {
			padding-right: 30px;
		}
		.tile-helper {
			position: absolute;
			top: 50%;right: 0;
			margin-top: -12px;
			z-index: 2;
		}
	}
	.tile-stock-wrap {
		margin-bottom: 10px;
		display: block;
		font-size: 10px;
		line-height: 14px;
		font-weight: 500;
	}
	.tile-photo-wrap {
		margin-bottom: 15px;
	}
	.tile-stickers-wrap {
		margin-bottom: 4px;
		margin-left: 0;
		margin-right: -7px;
		display: flex;
		flex-wrap: wrap;
	}
	.tile-title-wrap {
		margin-bottom: 15px;
		flex: 1;
	}
	.tile-discount-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		.tile-sticker {
			height: 18px;
			line-height: 18px;
			padding: 0 5px;
			font-size: 14px;
			font-weight: 500;
			margin-right: 6px;
		}
	}
	.tile-split-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}
	.tile-price-wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 15px 0;
		align-items: flex-end;
	}
	.tile-actions-wrap {
		display: flex;
		justify-content: space-between;
	}
	.tile-buttons-wrap {
		display: flex;
		flex-shrink: 0;
	}
	.tile-title {
		&.tile-many-lines {
			-webkit-line-clamp: 3;
		}
	}
	.tile-stock {
		font-size: 1em;
		line-height: inherit;
		position: relative;
		color: #000;
		font-weight: 500;
		padding: 0 0 0 14px;
		&:before {
			width: 6px;height: 6px;
			top: 50%;
			left: 0;
			margin: -3px 0 0 0;
			border-radius: 50%;
			background: var(--clr-att-succefull);
		}
		&.stock-out {
			&:before {
				background-color: var(--clr-att-alert);
			}
		}
	}
	.tile-add-wrap {
		flex-shrink: 0;
		.btn {
			width: 38px;
			height: 38px;
			border-radius: 12px;
			padding: 0;
			min-width: 0;
			.button-title {
				display: none;
			}
			.button-ico {
				margin: 0 auto;
				flex-shrink: 0;
			}
		}
	}
	.tile-price {
		margin-right: 5px;
	}
	.tile-split {
		margin-right: 5px;
	}
	.tile-sticker-info {
		
	}
	.tile-photo {
		aspect-ratio: 1;
	}
	.btn, .btn-action-ico, .tile-sticker-info {
		position: relative;
		z-index: 7;
	}
}
.item-tile-action-main {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	background: var(--clr-title);
	color: #fff;
	font-size: 14px;
	line-height: 1;
	font-weight: 500;
	padding: 15px 10px;
	min-height: 180px;
	height: 100%;
	aspect-ratio: 165/180;
	&:hover {
		color: #fff;
	}
	.tile-title {
		display: block;
		position: relative;
		z-index: 2;
	}
	.tile-photo {
		display: flex;
		align-items: flex-end;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		aspect-ratio: inherit;
	}
}
.item-tile-action {
	color: var(--clr-title);
	display: flex;
	border-radius: 20px;
	border-radius: 20px;
	border: 3px solid var(--clr-border);
	background-color: var(--clr-bg-light);
	overflow: hidden;
	position: relative;
	height: 216px;
	&.tile04 {
		.tile-photo {
			top: 70px;
			left: 0;
			img {
				margin-left: 0;
			}
		}
	}
	.tile-photo {
		top: 15px;
		bottom: 0;
		left: -200px;
		right: -200px;
		position: absolute;
		aspect-ratio: inherit;
	}
	.tile-title {
		font-size: 16px;
		font-weight: 500;
		line-height: 1.2;
		color: inherit;
		margin: 0;
		position: absolute;
		top: 0;left: 0;right: 0;
		padding: 12px;
		z-index: 3;
	}
	.tile-sticker {
		font-size: 14px;
		height: 18px;
		padding: 0 5px;
		font-weight: 500;
		border-radius: 9px;
		line-height: 18px;
		position: absolute;
		bottom: 12px;left: 12px;
		z-index: 3;
	}
}
.item-tile-review {
	display: block;
	position: relative;
	min-height: 100%;
	border-radius: 20px;
	background: var(--clr-bg-light);
	padding: 15px;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 400;
	.tile-title-wrap {
		margin-bottom: 15px;
	}
	.tile-user-wrap {
		display: flex;
		align-items: center;
		font-size: 12px;
		line-height: 1.4;
		font-weight: 500;
		color: var(--clr-bg-dark);
		margin-bottom: 10px;
		.tile-photo {
			flex-shrink: 0;
			width: 50px;
		}
	}
	.tile-user-title-wrap {
		display: block;
		padding-left: 12px;
	}
	.tile-user-title {
		display: block;
		font-size: 16px;
		line-height: 1.4;
		color: var(--clr-title);
		margin-bottom: 4px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.item-tile-faq {
	display: block;
	position: relative;
	background: var(--clr-bg-light);
	font-size: 14px;
	line-height: 1.4;
	font-weight: 400;
	border-radius: 20px;
	.tile-content-block {
		display: none;
		padding: 5px 15px 15px 15px;
	}
	.tile-info-wrap {
		border-radius: 15px;
		border: 1px solid var(--clr-border);
		padding: 14px;
	}
	.tile-button {
		display: block;
		position: relative;
		font-size: 18px;
		line-height: 1.4;
		font-weight: 500;
		color: var(--clr-title);
		padding: 15px 50px 15px 15px;
		&:hover {
			color: var(--clr-title);
		}
		&:before, &:after {
			content: "";
			display: block;
			width: 22px;height: 2px;
			background: var(--clr-att);
			position: absolute;
			top: 50%;right: 27px;
			margin: -1px -11px 0 0;
			border-radius: 1px;
		}
		&:before {
			rotate: 90deg;
			transition: all ease 0.2s;
		}
		&.active {
			&:before {
				rotate: 0deg;
			}
		}
	}
}
.elm-row-feature, .elm-row {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	position: relative;
	width: 100%;
	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0.3em;left: 0;right: 0;
		height: 1px;
		border-top: 1px dotted currentColor;
	}
	.row-title, .row-value {
		padding: 0 5px 0 0;
		position: relative;
		z-index: 2;
		background: #fff;
	}
	.row-value {
		padding: 0 0 0 5px;
		text-align: right;
	}
	.row-subtitle {
		display: block;
		font-size: 14px;
		font-weight: 500;
		color: var(--clr-base);
		line-height: 1.4;
	}
}
.elm-row {
	&.row-light {
		color: var(--clr-base);
	}
	&.row-main {
		color: var(--clr-title);
	}
	&.row-total {
		border-top: 1px solid var(--clr-border);
		.row-value {
			font-size: (20/18em);
		}
	}
	&:before {
		display: none;
	}
	.row-title, .row-value {
		background: none;
	}
	.elm-sticker {
		display: inline-flex;
		vertical-align: middle;
	}
	.elm-ico {
		width: 20px;height: 20px;
		display: inline-block;
		vertical-align: middle;
		margin: -2px 5px 0 0;
		&.ico-pay {
			width: 52px;
			height: 24px;
		}
	}
	.row-title-inner, .row-value-inner {
		display: inline-block;
		vertical-align: middle;
	}
}
.elm-discount-wrap {
	display: inline-flex;
	flex-shrink: 0;
	height: 24px;
	line-height: 22px;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
	border: 1px solid var(--clr-att-succefull);
	padding: 0 9px 0 0;
	font-size: 14px;
	font-weight: 500;
	color: var(--clr-title);
	.discount-title {
		margin-left: 8px;
		display: block;
		flex-shrink: 0;
		line-height: 20px;
	}
	.elm-discount {
		height: 22px;
		line-height: 22px;
		border-radius: 0 11px 11px 0;;
		padding: 0 4px;
		font-size: 14px;
		font-weight: 500;
	}
}
.elm-discount {
	display: inline-flex;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 18px;
	line-height: 18px;
	padding: 0 5px;
	border-radius: 9px;
	font-size: 14px;
	font-weight: bold;
	background: linear-gradient(230deg, #33DD17 10.17%, #27AF11 65.68%);
	color: #fff;
	&.color-green {
		background: var(--clr-att-succefull);
		color: var(--clr-title);
	}
	&.color-att {
		background: var(--clr-att);
	}
	&.ico-discount {
		padding-left: 30px;
		&:before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			background: url(../img/icons/discount.svg) center no-repeat;
			background-size: 100% auto;
			top: 50%;left: 15px;
			margin-left: -12px;
			margin-top: -12px;
		}
	}
}
.elm-helper, .tile-helper {
	display: block;
	position: relative;
	width: 24px;height: 24px;
	background: url(../img/icons/help.svg) center no-repeat;
	background-size: 100% auto;
	z-index: 2;
	cursor: pointer;
	&.type-second {
		background-image: url(../img/icons/help-i.svg);
	}
}
.elm-rate-total, .tile-rate-total {
	display: block;
	position: relative;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 30px;
	font-size: 18px;
	font-weight: 500;
	color: var(--clr-title);
	&:before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		background: url(../img/icons/star.svg) center no-repeat;
		background-size: 100% auto;
		top: 50%;left: 0;
		margin-top: -12px;
	}
	.rate-total-reviews {
		display: inline-block;
		font-size: 14px;
		&:not(:hover) {
			color: var(--clr-bg-dark);
		}
	}
}
:is([class^="item-tile"]) {
    &:hover {
        .elm-photo, .tile-photo {
            img {
                transform: scale(1.03);
            }
        }
    }
}
.item-tile-video-main .tile-photo,
.tile-photo.photo-video, .elm-photo.photo-video {
	position: relative;
	&:hover {
		&:after {
			background-color: #fff;
		}
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 50px;height: 50px;
		top: 50%;left: 50%;
		margin: -25px 0 0 -25px;
		z-index: 2;
		background: url(../img/icons/play.svg) center / 50px 50px no-repeat;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.80);
		backdrop-filter: blur(2px);
		transition: all ease 0.2s;
	}
}
.elm-photo, .tile-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
    &.photo-user {
		background: #fff url(../img/icons/user.svg) center / cover no-repeat;
		border-radius: 50%;
	}
    &:before {
        content: "";
        display: none;
        padding-top: 100%;
    }
    img {
        display: block;
        position: relative;
        width: 100%;
        transition: all ease-out 1s;
    }
    &.photo-cover {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.photo-contain {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
@supports (aspect-ratio: 1) {
    .elm-photo, .tile-photo {
        &:not(.photo-cover, .photo-contain) {
            aspect-ratio: inherit !important;
        }
    }
    .photo-cover, .photo-contain {
        aspect-ratio: 1;
        &:before {
            display: none !important;
        }
    }
}
.elm-price, .tile-price {
    white-space: nowrap;
	font-size: 16px;
	line-height: 1.2;
	color: var(--clr-title);
	letter-spacing: -0.01em;
	font-weight: bold;
	flex-shrink: 0;
	display: block;
    &.price-old {
        text-decoration: line-through;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: normal;
		color: var(--clr-bg-dark);
    }
	&.price-att {
		color: var(--clr-att);
	}
}
[data-unit] {
    &:after {
        content: attr(data-unit);
        font-family: 'Arial', 'Roboto', 'Open Sans', sans-serif;
    }
}
.elm-ico, .button-ico, .menu-ico, .frm-ico, .tab-ico, .tile-ico, .lbl-ico {
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    img, [class*="icon-"], .i, svg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.elm-overlay {
    display: none;
    animation: fadein ease 0.2s;
    background: fade(#000, 80);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    &.active {
        display: block;
    }
}
.elm-stock, .tile-stock {
	position: relative;
	padding-left: 32px;
	line-height: 24px;
	&:before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		background: url(../img/icons/stock.svg) center no-repeat;
		background-size: 100% auto;
		top: 0;left: 0;
	}
	&.stock-out {
		&:before {
			background-image: url(../img/icons/stock-out.svg);
		}
	}
	.stock-att {
		display: inline;
		color: var(--clr-att);
		font-weight: 500;
	}
}
.elm-sticker-dot, .tile-sticker-dot {
	display: block;
	position: relative;
	padding-left: 20px;
	color: var(--clr-base);
	font-size: 13px;
	font-weight: 500;
	line-height: 15px;
	&:before {
		content: "";
		display: block;
		width: 15px;height: 15px;
		border-radius: 50%;
		background: var(--clr-title);
		position: absolute;
		top: 0;left: 0;
	}
	&.color-att {
		&:before {
			background-color: var(--clr-att);
		}
	}
	&.color-gray {
		&:before {
			background-color: #5B6375
		}
	}
	&.color-red {
		&:before {
			background-color: #A71A5D
		}
	}
}
.elm-sticker, .tile-sticker {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: var(--clr-title);
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
	padding: 0 6px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	&:hover {
		color: #fff;
	}
	&.color-gray {
		background-color: var(--clr-bg-light);
		color: var(--clr-att);
		&:hover {
			color: var(--clr-att);
		}
	}
	&.color-att {
		background-color: var(--clr-att);
		color: #fff;
	}
	&.color-green {
		background: linear-gradient(230deg, #33DD17 10.17%, #27AF11 65.68%);
		color: #fff;
	}
}
.elm-yd-review, .tile-yd-review {
	display: block;
	position: relative;
	height: 24px;
	line-height: 24px;
	font-size: 18px;
	font-weight: 500;
	color: var(--clr-title);
	padding: 0 0 0 55px;
	&:before, &:after {
		content: "";
		display: block;
		width: 21px;height: 22px;
		position: absolute;
		top: 50%;left: 0;
		margin-top: -12px;
		background: url(../img/main/yd-small.svg) center / 100% auto no-repeat;
	}
	&:after {
		left: 26px;
		width: 24px;height: 24px;
		margin-top: -12px;
		background-image: url(../img/icons/star.svg);
	}
}
.tile-sticker-info, .elm-sticker-info {
	display: inline-block;
	max-width: 100%;
	flex-shrink: 0;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1.3;
	font-weight: bold;
	color: var(--clr-title);

	overflow: visible;
	margin: 0 7px 0 0;
	position: relative;
	&:before {
		content: "";
		display: block;
		width: 3px;height: 3px;
		border-radius: 50%;
		background: var(--clr-bg-dark);
		position: absolute;
		top: 50%;left: 100%;
		margin-left: 2px;
		margin-top: -2px;
	}
	&:last-child {
		&:before {
			display: none;
		}
	}
	
	&.color-violet {
		color: var(--clr-att);
	}
	&.color-pink {
		color: #FF569E;
	}
	&.color-green {
		color: #32D86B;
	}
}
.elm-split, .tile-split {
	display: block;
	flex-shrink: 0;
	height: 18px;
	background: var(--clr-title);
	line-height: 18px;
	padding: 0 3px 0 18px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	white-space: nowrap;
	position: relative;
	border-radius: 7px 2px 2px 7px;
	&:before {
		content: "";
		display: block;
		width: 14px;height: 14px;
		left: 3px;
		top: 50%;
		margin-top: -7px;
		position: absolute;
		background: url(../img/icons/split.svg) center no-repeat;
		background-size: 100% auto;
	}
}
.elm-scroll, .tile-scroll {
	&::-webkit-scrollbar {
		height: 6px;
		width: 6px;
		background-color: #fff;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--clr-title);
		border-right: 2px solid #fff;
		border-top: 12px solid #fff;
		border-bottom: 12px solid #fff;
	}
	&::-webkit-scrollbar-button:vertical:start:decrement {
		background-color: transparent;
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-button:vertical:end:increment {
		background-color: transparent;
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-button:horizontal:start:decrement {
		background-color: transparent;
		width: 0;
		height: 0;
	}
	&::-webkit-scrollbar-button:horizontal:end:increment {
		background-color: transparent;
		width: 0;
		height: 0;
	}
}
.elm-sticker-bonus,
.elm-sticker-plus,
.elm-sticker-split {
	display: inline-block;
	flex-shrink: 0;
	height: 22px;
	line-height: 22px;
	white-space: nowrap;
	border-radius: 11px;
	background: var(--clr-att);
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 0 8px 0 30px;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	.sticker-title {
		display: block;
	}
	&:before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		position: absolute;
		background: url(../img/icons/bbonus.svg) center no-repeat;
		background-size: 100% auto;
		top: 50%;left: 15px;
		margin: -12px 0 0 -12px;
	}
}
.elm-sticker-plus {
	font-weight: 500;
	height: 18px;
	border-radius: 9px 2px 2px 9px;
	padding: 0 5px 0 16px;
	line-height: 18px;
	background: linear-gradient(90deg, #FF5C4D 0%, #EB469F 40%, #8341EF 100%);
	&:before {
		left: 9px;
		background-image: url(../img/icons/bplus.svg);
	}
}
.elm-sticker-split {
	font-weight: 500;
	height: 18px;
	border-radius: 9px 2px 2px 9px;
	padding: 0 5px 0 16px;
	line-height: 18px;
	background: var(--clr-title);
	&:before {
		left: 9px;
		background-image: url(../img/icons/bsplit.svg);
	}
}
.elm-map-popup {
	background: #fff;
	z-index: 10;
	padding: 12px 8px 12px 16px;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 400;
	color: var(--clr-title);
	text-align: left;
	position: absolute;
	bottom: 100%;left: 0;
	margin-bottom: 15px;
	margin-left: -5px;
	width: 180px;
	filter: drop-shadow(0 0 5px fade(#000, 20));
	&:before {
		content: "";
		display: block;
		width: 0;height: 0;
		border: 12px solid fade(#000, 0);
		position: absolute;
		top: 100%;left: 27px;
		margin-left: -12px;
		border-top-color: #fff;
	}
	.info-row {
		display: block;
		margin-bottom: 0;
	}
	.row-title, .row-value {
		display: inline;
	}
	.row-title {
		color: var(--clr-bg-dark);
	}
	.logo {
		width: 110px;
		margin-bottom: 10px;
	}
}
@media (max-width: 479px) {
	.item-tile-bonus {
		.tile-title {
			font-size: 16px;
		}
		.tile-total {
			font-size: 40px;
		}
	}
	.item-tile-action-line {
		font-size: 26px;
		.tile-title {
			padding-right: 0;
		}
		.tile-discount {
			font-size: 105px;
			letter-spacing: -7px;
			margin: 10px 0 0 -30px;
		}
		.tile-photo {
			width: 200px;
		}
	}
}
@media (min-width: 480px) {
	.item-tile-info {
		padding: 25px;
		.tile-title {
			font-size: 32px;
		}
		.tile-photo {
			width: 226px;
		}
		.tile-info-wrap {
			padding-top: 30px;
		}
		.tile-title-wrap {
			height: 200px;
			&:before {
				left: auto;
				right: 0;
				margin: 0;
			}
		}
	}
	.item-tile-cart {
		padding-left: 160px;
		min-height: 140px;
		.tile-photo-wrap {
			width: 140px;
		}
		.tile-price {
			font-size: 22px;
		}
		.price-old {
			font-size: 16px;
		}
	}
	.item-tile-order {
		.tile-content-wrap {
			margin-bottom: 30px;
		}
		.tile-photo-wrap {
			width: 100px;
		}
		.tile-inner-wrap {
			padding-left: 20px;
		}
		.tile-title {
			font-size: 16px;
		}
		.tile-price {
			font-size: 22px;
			&.price-old {
				font-size: 16px;
			}
		}
	}
	.elm-sticker-dot, .tile-sticker-dot {
		font-size: 15px;
	}
	.item-tile-price {
		.tile-price {
			font-size: 18px;
		}
	}
	.item-tile-plus {
		padding: 20px;
		.tile-info-wrap {
			padding-left: 20px;
		}
	}
	.item-tile-plus-main {
		padding: 10px;
	}
	.item-tile-video-main {
		.tile-title-wrap {
			padding: 20px 15px;
		}
	}
	.item-tile-action-main {
		min-height: 235px;
		border-radius: 30px;
		padding: 20px 15px;
		font-size: 18px;
		aspect-ratio: 215/235;
	}
	.item-tile-action {
		border-radius: 30px;
		height: 260px;
		.tile-title {
			font-size: 20px;
		}
	}
	.item-tile-faq {
		font-size: 16px;
		.tile-content-block {
			padding: 0 20px 20px 20px;
		}
		.tile-button {
			font-size: 22px;
			padding: 20px 60px 20px 20px;
			&:before, &:after {
				right: 32px;
			}
		}
	}
}
@media (min-width: 768px) {
	.item-tile-info {
		padding: 30px;
	}
	.item-tile-cart {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 10px;
		.tile-info-wrap {
			margin-bottom: 15px;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}
		.tile-title-wrap {
			flex: 1;
			padding: 0 15px 0 0;
			margin: 0;
			max-width: calc(100% - 180px);
		}
		.tile-price-wrap {
			display: block;
			flex-shrink: 0;
			margin: 0;
			max-width: 180px;
		}
		.tile-price {
			margin: 0;
		}
		.price-old {
			margin-top: 6px;
		}
		.btn-action-ico {
			width: auto;
			padding-left: 32px;
			color: var(--clr-bg-dark);
			margin-right: 20px;
			&:hover {
				color: #FF55BE;
			}
			&:before, &:after {
				right: auto;
				width: 32px;
			}
			.button-title {
				display: block;
				height: 32px;
				line-height: 32px;
				white-space: nowrap;
				font-size: 16px;
				font-weight: 500;
			}
		}
	}
	.item-tile-order {
		border-radius: 15px;
		.tile-inner-wrap {
			display: flex;
			min-height: 140px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.tile-info-wrap {
			padding: 0 20px 0 0;
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 0;
		}
		.tile-price-wrap {
			flex-shrink: 0;
			display: block;
		}
		.tile-photo-wrap {
			width: 140px;
		}
		.tile-title-wrap {
			padding-left: 29px;
			padding-right: 29px;
		}
		.tile-order-title, .tile-order-status {
			margin-right: 50px;
		}
		.tile-content-wrap {
			padding: 30px 29px 0 29px;
		}
		.tile-footer-wrap {
			padding: 0 10px 20px 29px;
		}
		.tile-footer-info {
			padding-right: 40px;
			max-width: 260px;
			width: auto;
		}
		.tile-order-action {
			.btn {
				width: auto;
				font-size: 16px;
				font-weight: 500;
				color: var(--clr-title);
				.button-title {
					display: block;
					padding-left: 8px;
				}
			}
		}
		.tile-price {
			margin: 0 0 8px 0;
		}
		.tile-title {
			max-width: (310/16em);
		}
	}
	.item-tile-catalog-accesoories {
		.tile-photo-wrap {
			width: 82px;
		}
		.tile-info-wrap {
			padding-left: 10px;
		}
		.tile-photo {
			aspect-ratio: 82/91;
		}
		.tile-price {
			font-size: 18px;
			&.price-old {
				font-size: 14px;
			}
		}
	}
	.item-tile-price {
		font-size: 12px;
		.tile-price {
			font-size: 18px;
		}
	}
	.item-tile-plus {
		display: block;
		padding: 25px;
		.tile-ico {
			margin-bottom: 30px;
		}
		.tile-info-wrap {
			padding: 0;
		}
	}
	.item-tile-action-line {
		display: flex;
		padding: 30px 30px 8px 30px;
		align-items: flex-start;
		font-size: 32px;
		.tile-title-wrap {
			width: 50%;
		}
		.tile-title {
			padding-right: 0;
		}
		.tile-photo {
			width: 260px;
		}
		.tile-discount {
			font-size: 165px;
			margin-left: -180px;
			margin-top: 0;
		}
	}
	.item-tile-plus-main {
		padding: 15px;
		.tile-ico {
			width: 60px;height: 60px;
		}
		.tile-title {
			padding-left: 15px;
		}
	}
	.item-tile-action-main {
		aspect-ratio: inherit;
		padding: 32px;
		font-size: 24px;
		.tile-title {
			max-width: (300/24em);
		}
		.tile-photo {
			justify-content: flex-end;
			img {
				max-width: 200px;
			}
		}
	}
	.item-tile-action {
		height: 260px;
		.tile-title {
			padding: 22px;
		}
		.tile-sticker {
			left: 22px;
			bottom: 22px;
		}
		.tile-photo {
			top: 0;
		}
	}
	.item-tile-review {
		.tile-title-wrap {
			display: flex;
			align-items: center;
		}
		.tile-user-wrap {
			flex: 1;
			margin: 0;
			padding-right: 10px;
		}
	}
}
@media (min-width: 1024px) {
	.item-tile-info {
		&.tile-pay {
			.tile-photo {
				width: 300px;
			}
		}
	}
	.item-tile-action-main {
		.tile-photo {
			img {
				max-width: 260px;
			}
		}
	}
	.item-tile-action {
		height: 290px;
		.tile-photo {
			left: -60px;right: -140px;
		}
	}
}
@media (min-width: 1280px) {
	
}
@media (min-width: 1600px) {
	.item-tile-order {
		.tile-inner-wrap {
			padding-left: 40px;
		}
	}
	.item-tile-price {
		font-size: 12px;
		.tile-price {
			font-size: 22px;
		}
	}
	.item-tile-plus {
		font-size: 16px;
		.tile-title {
			font-size: 22px;
		}
	}
	.item-tile-action-line {
		font-size: 32px;
		letter-spacing: -0.32px;
		.tile-title {
			max-width: (305/32em);
		}
		.tile-discount {
			font-size: 215px;
			letter-spacing: -15.05px;
			margin: -40px 0 -20px -180px;
		}
		.tile-photo {
			width: 310px;
			right: 25px;
		}
	}
	.item-tile-action-text {
		.tile-title-wrap {
			padding: 19px;
		}
		.tile-sticker {
			height: 48px;
			line-height: 48px;
			font-size: 30px;
		}
		.tile-title {
			font-size: 24px;
		}
		.tile-subtitle {
			font-size: 11px;
		}
		.tile-photo {
			width: 360px;
		}
		&.tile-side {
			min-height: 416px;
			.tile-title-wrap {
				padding: 26px;
			}
			.tile-subtitle {
				font-size: 12px;
			}
			.tile-title {
				font-size: 29px;
			}
			.tile-sticker {
				font-size: 29px;
				height: 46px;
				line-height: 46px;
			}
			.tile-photo {
				width: 240px;
			}
		}
	}
	.item-tile-action-main {
		font-size: 26px;
		.tile-photo {
			img {
				max-width: 320px;
			}
		}
	}
	.item-tile-action {
		.tile-title {
			font-size: 22px;
		}
		.tile-photo {
			right: -100px;
		}
		&.tile04 {
			.tile-photo {
				top: 15px;
			}
		}
	}
	.elm-yd-review, .tile-yd-review {
		padding: 0 0 0 130px;
		&:before {
			width: 91px;
			background-image: url(../img/main/yd.svg);
		}
		&:after {
			left: 101px;
		}
	}
	.tile-price, .elm-price {
		font-size: 22px;
		&.price-old {
			font-size: 16px;
		}
	}
}

@media (min-width: 1700px) {
	.item-tile-order {
		.tile-title {
			max-width: (382/16em);
		}
	}
	.item-tile-action-line {
		.tile-discount {
			margin: -40px 0 -20px -220px;
		}
	}
	.item-tile-action-text {
		&.tile-side {
			min-height: 450px;
			.tile-title-wrap {
				padding: 30px;
			}
			.tile-subtitle {
				font-size: 12px;
			}
			.tile-title {
				font-size: 32px;
			}
			.tile-sticker {
				font-size: 32px;
				height: 46px;
				line-height: 46px;
			}
		}
	}
	.item-tile-catalog {
		.tile-add-wrap {
			.btn {
				width: auto;
				padding: 0 15px;
				font-size: 16px;
				.button-title {
					display: block;
				}
				.button-ico {
					margin: 0 5px 0 0;
				}
			}
		}
	}
}
