<!--top-action-box-->
<div class="top-action-box cnt-section">
	<div class="inner-wrap">
		<a href="" class="action-title">Найдете дешевле — </a>
		<div class="action-sticker">снизим цену!</div>
		<a href="" class="btn-action-ico ico-close-small btn-popup-close" onclick="document.body.classList.add('top-hide');return false;"></a>
	</div>
</div>
<!--/top-action-box-->
<!-- header -->
<header class="header">
	<!--header-top-panel-->
	<div class="header-top-panel cnt-section">
		<div class="inner-wrap">
			<div class="inner-wrap">
				<div class="yd-inner-wrap">
					<div class="elm-yd-review">4.8</div>
				</div>
				<div class="location-inner-wrap">
					<a href="" class="btn button-clear">
						<div class="button-ico">
							<img src="./img/icons/location.svg" alt="">
						</div>
						<div class="button-title">Санкт-Петербург</div>
					</a>
				</div>
				<div class="menu-inner-wrap">
					<ul class="menu">
						<li><a href="" class="btn-menu"><div class="button-title">Доставка и оплата</div></a></li>
						<li><a href="" class="btn-menu"><div class="button-title">Гарантия возврата</div></a></li>
						<li><a href="" class="btn-menu"><div class="button-title">Клиентам</div></a></li>
						<li><a href="" class="btn-menu"><div class="button-title">Контакты</div></a></li>
						<li><a href="" class="elm-sticker"><span class="text-succefull">%</span>Акции</a></li>
					</ul>
				</div>
				<div class="contacts-inner-wrap">
					<div class="phone-wrap">
						<a href="tel:88126402922" class="link-phone">+7(812) 640-29-22</a>
					</div>
					<div class="soc-wrap">
						<a href="" class="btn button-clear button-tg">
							<div class="button-title">Telegram</div>
							<div class="button-ico">
								<img src="./img/icons/soc-tg.svg" alt="">
							</div>
						</a>
					</div>
					<div class="soc-wrap">
						<a href="" class="btn button-clear button-wa">
							<div class="button-title">WhatsApp</div>
							<div class="button-ico">
								<img src="./img/icons/soc-wa.svg" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-top-panel-->
	<!--header-main-panel-->
	<div class="header-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="catalog-inner-wrap popup-catalog-wrap js-popup-wrap">
				<a href="" class="btn btn-popup js-btn-popup-toggle">
					<div class="button-ico">
						<img src="./img/icons/catalog.svg" alt="">
					</div>
					<div class="button-title">Каталог</div>
				</a>
				<div class="popup-content-block js-popup-block">
					33333
				</div>
			</div>
			<div class="search-inner-wrap">
				<form action="/" class="frm-main-search">
					<div class="field-input">
						<input type="text" class="form-input" placeholder="Искать товары" onfocus="this.closest('.frm-main-search').classList.add('result-active')" onblur="this.closest('.frm-main-search').classList.remove('result-active')">
					</div>
					<div class="field-button">
						<button type="submit" class="btn">Найти</button>
					</div>
					<div class="frm-field-buttons-list">
						<ul class="list elm-scroll">
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result01.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result02.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Черный</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result03.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 256GB PRODUCT(RED)</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result04.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 64GB Зеленый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result05.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result01.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result02.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Черный</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result03.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 256GB PRODUCT(RED)</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result04.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 64GB Зеленый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result05.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result01.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result02.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Черный</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result03.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 256GB PRODUCT(RED)</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result04.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 64GB Зеленый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result05.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result01.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result02.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Черный</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result03.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 256GB PRODUCT(RED)</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result04.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 64GB Зеленый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result05.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result01.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result02.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Черный</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result03.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 256GB PRODUCT(RED)</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result04.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 64GB Зеленый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result05.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result01.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result02.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Черный</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result03.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 256GB PRODUCT(RED)</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result04.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 12 64GB Зеленый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-result">
									<div class="button-ico">
										<img src="./img/result05.jpg" alt="">
									</div>
									<div class="button-title">Смартфон Apple iPhone 11 128GB Белый</div>
									<div class="button-price">
										<div class="elm-price" data-unit=" ₽">35 990</div>
										<div class="elm-price price-old" data-unit=" ₽">35 990</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="top-inner-wrap">
				<div class="soc-wrap">
					<a href="" class="btn button-clear button-tg">
						<div class="button-ico">
							<img src="./img/icons/soc-tg.svg" alt="">
						</div>
					</a>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn button-clear button-wa">
						<div class="button-ico">
							<img src="./img/icons/soc-wa.svg" alt="">
						</div>
					</a>
				</div>
				<div class="total-wrap">
					<div class="elm-sticker color-gray">870₽ бонусов</div>
				</div>
			</div>
			<div class="actions-inner-wrap">
				<div class="action-wrap action-compare">
					<a href="" class="btn button-gray button-action" data-count="3">
						<div class="button-ico">
							<img src="./img/icons/compare.svg" alt="">
						</div>
					</a>
				</div>
				<div class="action-wrap action-fav">
					<a href="" class="btn button-gray button-action" data-count="3">
						<div class="button-ico">
							<img src="./img/icons/fav.svg" alt="">
						</div>
					</a>
				</div>
				<div class="action-wrap action-cart">
					<a href="" class="btn button-gray button-action" data-count="3">
						<div class="button-ico">
							<img src="./img/icons/cart.svg" alt="">
						</div>
					</a>
				</div>
				<div class="action-wrap action-phone">
					<a href="" class="btn button-gray button-action">
						<div class="button-ico">
							<img src="./img/icons/phone.svg" alt="">
						</div>
					</a>
				</div>
				<div class="action-wrap action-user">
					<a href="" class="btn button-gray button-action">
						<div class="button-title">Войти</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/header-main-panel-->
</header>
<!-- /header -->
 <!--mobile-panel-box-->
 <div class="mobile-panel-box cnt-section">
	<div class="inner-wrap">
		<div class="action-wrap">
			<a href="" class="btn-menu-mobile">
				<div class="button-ico">
					<img src="./img/icons/m-home.svg" alt="">
				</div>
				<div class="button-title">Главная</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-menu-mobile">
				<div class="button-ico">
					<img src="./img/icons/m-menu.svg" alt="">
				</div>
				<div class="button-title">Каталог</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-menu-mobile">
				<div class="button-ico">
					<img src="./img/icons/m-cart.svg" alt="">
				</div>
				<div class="button-title">Корзина</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-menu-mobile">
				<div class="button-ico">
					<img src="./img/icons/m-user.svg" alt="">
				</div>
				<div class="button-title">Профиль</div>
			</a>
		</div>
		<div class="action-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-menu-mobile js-btn-popup-toggle">
				<div class="button-ico">
					<img src="./img/icons/m-more.svg" alt="">
				</div>
				<div class="button-title">Еще</div>
			</a>
			<div class="popup-content-block js-popup-block">
				<a href="" class="btn-popup-close btn-action-ico ico-close-main js-btn-popup-close"></a>
				<div class="popup-title-wrap">
					<div class="popup-title">Еще</div>
				</div>
				<div class="popup-content-wrap">
					<div class="location-inner-wrap">
						<a href="" class="btn button-clear">
							<div class="button-ico">
								<img src="./img/icons/location.svg" alt="">
							</div>
							<div class="button-title">Санкт-Петербург</div>
						</a>
					</div>
					<div class="menu-inner-wrap">
						<ul class="menu">
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Доставка и оплата</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Гарантия возврата</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu active">
									<div class="button-title">Липецк</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Клиентам</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title"><span class="button-action-att">%</span> Акции</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Избранное</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Сравнение</div>
									<div class="button-counter">4</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="contacts-inner-wrap">
						<div class="phone-wrap">
							<a href="tel:88126402922" class="link-phone">+7(812) 640-29-22</a>
						</div>
						<div class="soc-wrap">
							<a href="" class="btn button-clear button-tg">
								<div class="button-ico">
									<img src="./img/icons/soc-tg.svg" alt="">
								</div>
							</a>
							<a href="" class="btn button-clear button-wa">
								<div class="button-ico">
									<img src="./img/icons/soc-wa.svg" alt="">
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 </div>
 <!--/mobile-panel-box-->